<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"><img [src]="viewModel.filterListPath" (click)="filterToggle()" /></th>
        <th scope="col">
          <div class="d-flex justify-content-between">
            Room
            <div>
              <img 
              (mouseover)="onMouseOver('room')"
              (mouseout)="onMouseOut('room')"
              [src]="viewModel.sortByIcon.room"
              (click)="onSortClick('room')" />
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-between">
            Who
            <div>
              <img 
              (mouseover)="onMouseOver('who')"
              (mouseout)="onMouseOut('who')"
              [src]="viewModel.sortByIcon.who"
              (click)="onSortClick('who')" />
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-between">
              From
              <div>
                <img 
                (mouseover)="onMouseOver('from')"
                (mouseout)="onMouseOut('from')"
                [src]="viewModel.sortByIcon.from"
                (click)="onSortClick('from')" />
              </div>
            </div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-between">
              To
              <div>
                <img 
                (mouseover)="onMouseOver('to')"
                (mouseout)="onMouseOut('to')"
                [src]="viewModel.sortByIcon.to"
                (click)="onSortClick('to')" />
              </div>
            </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="viewModel.filteringOn">
        <th scope="row"></th>
        <td><input class="form-control" id="filterByRoom" type="text" (change)="onFilterByRoom($event.target.value)"></td>
        <td><input class="form-control" id="filterByWho" type="text" (change)="onFilterByWho($event.target.value)"></td>
        <td><input class="form-control" id="filterByFrom" type="date" (change)="onFilterByFrom($event.target.value)"></td>
        <td><input class="form-control" id="filterByTo" type="date"></td>
      </tr>
      <tr *ngFor="let reservation of viewModel.currentPage">
        <th scope="row">{{reservation.id}}</th>
        <td>{{reservation.roomName}}</td>
        <td>{{reservation.who }}</td>
        <td>{{reservation.from | date: 'd/M/yy, hh:mm'}}</td>
        <td>{{reservation.to | date: 'd/M/yy, hh:mm'}}</td>
      </tr>
      <tr>
        <td colspan="5">
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight">
                    <img [src]="viewModel.addIconPath" [routerLink]="['/reservations', 'new']" />
                </div>
                
                <div class="p-2 bd-highlight">
                    <form [formGroup]="reservationListForm" class="form-inline" style="align-items:center">
                        <div class="form-group mb-2">
                          <label for="pageSizeSelect">Items per page:</label>
                          <select (change)="pageSizeChange($event.target.value)"
                            class="custom-select custom-select-sm"
                            id="pageSizeSelect"
                            [value]="viewModel.pagingDetails.selectedPageSize">
                            <option *ngFor="let option of viewModel.pagingDetails.pageSizeOptions">{{option}}</option>
                          </select>
                        </div>
                        <div class="form-group mb-2">
                          <label for="pageSizeSelect">
                            {{viewModel.pagingDetails.currentPage}} of {{viewModel.pagingDetails.numberOfPages}}
                          </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                          <img [src]="viewModel.arrowLeftPath" (click)="goToPreviousPage()" />
                          <img [src]="viewModel.arrowRightPath" (click)="goToNextPage()" />
                        </div>
                    </form>
                </div>
              </div>
            <!-- <div class="d-flex flex-row bd-highlight">
                <img [src]="viewModel.addIconPath" (click)="goToPreviousPage()" />
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
                <form class="form-inline" style="align-items:center">
                  <div class="form-group mb-2">
                    <label for="pageSizeSelect">Items per page:</label>
                    <select (change)="pageSizeChange($event.target.value)"
                      class="custom-select custom-select-sm"
                      id="pageSizeSelect"
                      [value]="viewModel.pagingDetails.selectedPageSize">
                      <option *ngFor="let option of viewModel.pagingDetails.pageSizeOptions">{{option}}</option>
                    </select>
                  </div>
                  <div class="form-group mb-2">
                    <label for="pageSizeSelect">
                      {{viewModel.pagingDetails.currentPage}} of {{viewModel.pagingDetails.numberOfPages}}
                    </label>
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <img [src]="viewModel.arrowLeftPath" (click)="goToPreviousPage()" />
                    <img [src]="viewModel.arrowRightPath" (click)="goToNextPage()" />
                  </div>
                </form>
            </div> -->
        </td>
      </tr>
    </tbody>
  </table>

</div>