<form 
(ngSubmit)="save()"
[formGroup]="newReservationForm"
>
  <button type="submit" class="btn btn-primary">Save</button>

  <div class="table-responsive">
    
    <table class="table-bordered w-100">
      <thead>
        <th colspan="2">
          <input type="date" formControlName="day" class="form-control text-center" id="startTime" placeholder="Start time" >
        </th>
      </thead>
      <tbody> 
        <tr *ngFor="let hour of getHours()">
          <td class="w-25">{{hour}}</td>
          <td class="w-75" [ngClass]="{'table-info': isBusy(hour)}" (dblclick)="onHourDblClick()"></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>