<form 
(ngSubmit)="save()"
[formGroup]="newReservationForm"
>

  <div class="form-row">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/reservations']">Close</button>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="selectRoom">Room</label>
      <select class="form-control" id="selectRoom" placeholder="Room" formControlName="room">
        <option *ngFor='let room of rooms'>
          {{room.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">Who</label>
      <select class="form-control" id="formGroupExampleInput2" placeholder="Who" formControlName="who">
        <option *ngFor='let person of people'>
          {{person.firstName + ' ' + person.lastName}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-row">
  </div>

  <div class="form-row">
    <div class="form-group w-100">
      <div class="table-responsive">
        <table class="table-bordered w-100">
          <thead>
            <th colspan="2">
              <input type="date" formControlName="day" class="form-control text-center" id="startTime" placeholder="Start time" >
            </th>
          </thead>
          <tbody> 
            <tr *ngFor="let hour of getHours()" >
              <td class="w-25">{{hour}}</td>
              <td class="w-75">
                  <table class="table table-borderless m-0">
                      <tbody>
                        <tr>
                          <td [ngClass]="{'table-info': isBusy(hour, '00')}" (click)="openModal(hour, '00')"></td>
                        </tr>
                        <tr>
                          <td [ngClass]="{'table-info': isBusy(hour, '30')}" (click)="openModal(hour, '30')"></td>
                        </tr>
                      </tbody>
                    </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
          ...
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</form>