
<div class="form-group">
  <label for="selectRoom">Room</label>
  <select class="form-control" id="selectRoom" placeholder="Room">
    <option *ngFor='let room of rooms'>
      {{room.name}}
    </option>
  </select>
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Who</label>
  <select class="form-control" id="formGroupExampleInput2" placeholder="Who">
    <option *ngFor='let person of people'>
      {{person.firstName + ' ' + person.lastName}}
    </option>
  </select>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-calendar></app-calendar>
  </div>
</div>